:root{
    --primary-color: #edf2fc;
    --secondary-color: #161616;
}

.dark-theme{
    --primary-color: #121212;
    --secondary-color: #edf2fc;
    transition: all .1s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--secondary-color);
}

body{
    background-color: var(--primary-color);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 2em 3em;
    position: absolute;
}

.main-link{
    text-decoration: none;
    font-weight: 1000;
    color: #f76349;
    font-size: 3em;
}

.links-container{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.links-container a{
    text-decoration: none;
}

.links-container a:hover{
    color: #f76349;
    transition: all .15s ease-in-out;
}

nav i{
    font-size: 1.5em;
    color: var(--secondary-color);
    opacity: .7;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: row;
    gap: 5em;
    padding: 2em 3em;
    height: 100vh;
}

.left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.left-side h1{
    font-size: 4em;
    margin: auto 0;
    margin-bottom: .2em;
    
}

.left-side h1 span{
    color: #f76349;
}

.left-side p{
    width: 80%;
    margin-bottom: 2em;
}

.left-side button{
    max-width: 11em;
    font-size: 1.1em;
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    border-radius: .3em;
    padding: .5em;
    cursor: pointer;
}

.left-side button:hover{
    background-color: #f76349;
    color: var(--secondary-color);
    font-weight: 500;
    transition: all .15s ease-in-out;
}

.social-links{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    font-size: 2em;
    gap: .75em;
}

.social-links i{
    cursor: pointer;
}

.social-links :hover{
    color: #f76349;
    transition: all .15s ease-in-out;
}

.right-side{
    flex: 1;
    margin-top: 5em;
}

.right-side img{
    position: relative;
    width: 100%;
}


