*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #686279;
    color: #fff;
}

#form{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2c2638;
    padding: 1em;
    border-radius: 1em;
    width: 100%;
    height: 100%;
    max-width: 55em;
    max-height: 35em;
    gap: 1em;
    box-shadow: 5px 5px 15px 10px rgba(0,0,0,0.15);
}

.image-section{
    display: flex;
    flex: 1.4;
    width: 100%;
    height: 100%;
    position: relative;
}

.img-bg{
    object-fit: cover;
    width: 100%;
    border-radius: .75em;
    opacity: .7;
}

.img-logo{
    position: absolute;
    width: 35%;
    top: 32.5%;
    left: 32.5%;
    opacity: .75;
}

.image-section h3{
    position: absolute;
    bottom: 1em;
    left: 25%;
    text-align: center;
    font-weight: 500;
}

.form{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
    padding: 0em 3em;
}

.input-container{
    display: flex;
    flex-direction: column;
}

.form h2{
    font-weight: 500;
    font-size: 2em;
}

.form p{
    opacity: .75;
    font-size: .8em;
    margin-bottom: 2em;
}

.form p span{
    text-decoration-line: underline;
    color: #baa0ef;
    cursor: pointer;
}

.form input{
    background-color: #3c364c;
    border: none;
    border-radius: .3em;
    color:#e9deff;
    outline: none;
    padding: .8em 1em;
    margin: 0;
    width: 100%;
}

.input-wrapper{
    margin: .25em 0;
}

.input-name-container{
    display: flex;
    width: 100%;
    gap: 1em;
}

.form button{
    color: white;
    background-color: #6d54b5;
    border: none;
    border-radius: .5em;
    padding: 1em 2em;
    margin-top: 3em;
    cursor: pointer;
}

.input-wrapper span{
    opacity: .6;
    font-size: .7em;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition: all .2s ease-in-out;
    /* border: 1px solid red; */
}
